div {
    border-radius: 5px;
    font-size: 12px;
}


#game-window {
    position: relative;
    margin: 0 auto;
    width: 80vh;
    height: 80vh;
    background: #FFF;
}

#game-window * {
    position: absolute;
}

.user-menu {
    width: 30%;
    height: 30%;
    /*50% - 30%/2;*/
    top: 35%;
    left: 35%;
    background: #F0F0F0;

    border-radius: 50%;
}

.user-menu h1#output {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 -50% 0 0;
    padding: 0;
    text-align: center;
    font-family: Consolas, sans-serif;
    font-size: 1.5rem;
}

.button {
    width: 50%;
    height: 50%;

    transition-duration: 0.3s;
}


.clicked {
    opacity: 0.5;
}

#btn-1 {
    top: 0;
    left: 0;
    background: #BEDE15;
    border-radius: 100% 0 0 0;
}

#btn-2 {
    top: 0;
    right: 0;
    background: #FF5643;
    border-radius: 0 100% 0 0;

}

#btn-3 {
    bottom: 0;
    left: 0;
    background: #FEEF33;
    border-radius: 0 0 0 100%;
}

#btn-4 {
    bottom: 0;
    right: 0;
    background: dodgerblue;
    border-radius: 0 0 100% 0;
}

@media screen and (max-width: 568px) {
    #game-window {
        width: 100vw;
        height: 100vw;
    }
}